<?xml version="1.0"?>
<launch>
    <arg name="pv_speed_profile" default="I85_nycccol.csv" />
    <arg name="dir" default="0"/>
    <arg name="use_preview" default="0"/>
    <arg name="sim_run" default="1"/>
    <arg name="site_map" default="custom_map_dir0.csv"/>
    <arg name="koopman_lift_method" default="auto"/>
    <arg name="front_vehicle_travel_distance" default="1000.0"/>
    <arg name="front_vehicle_stop_distance_tolerance" default="0.5"/>
    <arg name="front_vehicle_stop_speed_tolerance" default="0.1"/>
    <arg name="front_vehicle_stop_buffer" default="2.0"/>
    <arg name="num_vehicles" default="4"/>
    <arg name="side_lane_leader_initial_gap" default="6.0"/>

    <param name="runDirection" value="$(arg dir)"/>
    <param name="run_sim" value="$(arg sim_run)"/>
    <param name="map" value="$(arg site_map)"/>
    <param name="spd_map" value="$(arg pv_speed_profile)"/>
    <param name="num_vehicles" value="$(arg num_vehicles)"/>
    <param name="pv_states_dt" value="0.5"/>
    <param name="use_preview" value="$(arg use_preview)"/>
    <param name="koopman_lift_method" value="$(arg koopman_lift_method)"/>
    <param name="side_lane_leader_initial_gap" value="$(arg side_lane_leader_initial_gap)"/>
    <param name="front_vehicle_travel_distance" value="$(arg front_vehicle_travel_distance)"/>
    <param name="front_vehicle_stop_distance_tolerance" value="$(arg front_vehicle_stop_distance_tolerance)"/>
    <param name="front_vehicle_stop_speed_tolerance" value="$(arg front_vehicle_stop_speed_tolerance)"/>
    <param name="front_vehicle_stop_buffer" value="$(arg front_vehicle_stop_buffer)"/>
    <param name="track_style" value="Rally"/>
    <node pkg="cra_traffic_sim" type="car_following_single_lane_behavior_generation.py" name="CRA_Digital_Twin_Traffic" output="screen"/>
    <node pkg="joy" type="joy_node" name="joy_node" output="screen" />
    <group if="$(arg sim_run)">
        <node pkg="cra_traffic_sim" type="anl_sim.py" name="anl_sim" output="screen" />
    </group>

    <include file="$(find hololens_ros_communication)/launch/hololens_sender.launch" />
    <!-- <node pkg="low_level_bridge" name="bridge" type="bridge_KF_lanechange_MachE.py" output="screen"/> -->
</launch>
